*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
/* html{
    font-size: 10px;
} */
/* 
vh = view height// 100 vh = 100% de la altura de tu pantalla
vw = view width
100% = el 100% del padre// si mi padre vale 100px => 20% = 20px
rem/em = 

font size = 16px = 1rem // 2rem = 32px
font size de el elemento en que se encuentra
*/


.container{
    background-color: green;
    text-align: center;
    margin-bottom: 100vh;
}

.caja{
    width: 200px;
    height: 300px;
    display: inline-block;

}
.uno{
    background-color: blue;
    font-size: 10px;
}
.dos{
    background-color: yellow;
}
.tres{
    background-color: red;
}
.cuatro{
    background-color: blueviolet;
}
.cinco{
    background-color: brown;
    position: sticky;
    top: 30px;

}
.seis{
    background-color: aqua;
}
.siete{
    background-color:coral;
}
.ocho{
    background-color:darkmagenta;
}
.text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.linksContainer{
    background-color: rgb(255, 0, 0);
    height: 70px;
    text-align: end;
    padding: 25px 5vh;
}
.linksContainer li{
    display: inline-block;
    margin-left: 20px;
}
.navbar{
    position: sticky;

}
.hijo1{
    background-color: darkorange;
}
.hijo2{
    background-color: darkorange;
}