/* Normalize */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
body{
    padding: 20vh 10% ;
    
}
.titleContainer h1{
    text-align: center;
    margin-bottom: 7vh;
    font-size: 3rem;
}

.formRegister{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.textContainerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.errorText{
    color: #D97A84;
    text-align: center;
}

.input{
    padding: 10px 3px;
    border: none;
    border-bottom: 1px solid ;
}

.submit{
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: 1px solid white ;
}

.submit:hover{
    transition: 0.5s all;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.textContainerForm p a{
    font-weight: bold;
    color: #161614;
}