h1{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.carta{
    background-color: black;
    color: white;
    width: 250px;
    padding: 10px 5px;
    border-radius: 25px;
}
.imgCard{
    width: 100%;
    border-radius: 25px;
}
.formularioProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}